<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    h1 {
      color: rgb(98, 145, 255);
    }
    h2,
    h3 {
      margin: 0;
    }

    body {
      max-height: 100svh;
      padding: 0px 100px;
      margin: auto;
      background-color: rgb(41, 41, 41);
    }

    li {
        font-size: 150%;
        line-height: 150%;
        color: white;
    }
    li a {
        color: white;
        text-decoration: none;
    }
    .drinks-container {
        text-transform: capitalize;

    }
  </style>

  <body>
    <h1>gitPub</h1>
    <div class="drinks-container">
        <% for (let i = 0; i<drinks.length; i++) { %>
            <li><a href="/drinks/<%= i %>"><%= drinks[i].name %></a></li>
            <% } %>
    </div>
  </body>
</html>
