<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    h1 {
      color: rgba(0, 24, 79, 1);
    }
    .drinks-container {
        text-transform: capitalize;

    }
  </style>

  <body>
    <h1>gitPub</h1>
    <div class="drinks-container">
        <% for (let i = 0; i<drinks.length; i++) { %>
            <li><%= drinks[i].name %></li>
            <% } %>
    </div>
  </body>
</html>
